<div *ngIf="film$ | async as film">

    <h1>{{ film.title }}</h1>

    <p>{{ film.description }}</p>

    <p>
        <strong>Durata:</strong> {{ film.durationMinutes }} minuti
    </p>

    <p>
        <strong>Data di uscita:</strong> {{ film.releaseDate }}
    </p>

    <p>
        <strong>Classificazione età:</strong> {{ film.ageRating }}+
    </p>

    <p>
        <strong>Regista:</strong>
        {{ film.director.firstName }} {{ film.director.lastName }}
    </p>

    <hr>

    <h3>Generi</h3>
    <span *ngFor="let genre of film.genres">
        {{ genre.name }}
    </span>

    <hr>

    <h3>Attori</h3>
    <ul>
        <li *ngFor="let actor of film.actors">
            {{ actor.firstName }} {{ actor.lastName }} ({{ actor.nationality }})
        </li>
    </ul>

    <hr>

    <h3>Proiezioni</h3>

    <div *ngFor="let date of (groupScreeningsByDate(film.screenings) | keyvalue)">

        <h4>{{ date.key }}</h4>

        <div *ngFor="let screening of date.value">
            <button [routerLink]="['/booking', screening.id]">
                {{ screening.screeningTime }} - €{{ screening.basePrice }}
            </button>
        </div>

    </div>

</div>