<nav class="navbar">
    <div class="navbar-container">

        <a routerLink="/" class="logo">
            <img src="./logo.png">
        </a>

        <ul class="nav-links">
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li>
                <a routerLink="/films" routerLinkActive="active">Film</a>
            </li>
            <li>
                <a routerLink="/my-bookings" routerLinkActive="active">Le mie prenotazioni</a>
            </li>
            <li *ngIf="isAdmin()">
                <a routerLink="/admin" routerLinkActive="active">Amministrazione</a>
            </li>
        </ul>

        <div class="nav-right">
            <ng-container *ngIf="!authService.isLoggedIn(); else loggedIn">
                <a routerLink="/login" class="btn btn-secondary">Accesso</a>
                <a routerLink="/register" class="btn">Registrati</a>
            </ng-container>

            <ng-template #loggedIn>
                <span class="user-name">Benvenuto, {{ userName() }}</span>
                <button (click)="logout()" class="btn btn-logout">Esci</button>
            </ng-template>
        </div>

    </div>
</nav>